<div class="help-splash-phase hidden">
    <div class="maol-text">
        <strong data-transl="help_splash.maol_text_word_1"></strong> 
        <span data-transl="help_splash.maol_text_word_2"></span>
    </div>
    <div class="help-splash-list-container">
        <h2 data-transl="help_splash.language_title"></h2>
        <ul id="help-splash-language-list" class="list-navigation"></ul>
        <p class="help-splash-help-text-small" style="margin-bottom: 0; padding-left: 30px;"data-transl="help_splash.language_description"></p>
        <div style="text-align: right;">
            <div class="help-splash-proceed-button-container">
                <button class="help-splash-proceed-button" data-transl="help_splash.language_button_text"></button>
            </div>
        </div>
    </div>
</div>

<div class="help-splash-phase hidden">
    <div class="maol-text">
        <strong data-transl="help_splash.maol_text_word_1"></strong> 
        <span data-transl="help_splash.maol_text_word_2"></span>
    </div>
    <img class="help-splash-help-img" src="img/retina/help-left-topbar-LANG.png" />
    <p class="help-splash-help-text-big" data-transl="help_splash.left_topbar_help_text_header"></p>
    <p class="help-splash-help-text-small" data-transl="help_splash.left_topbar_help_text_footer"></p>
    <div class="help-splash-button-aligner">
        <div class="help-splash-proceed-button-container">
            <button class="help-splash-proceed-button" data-transl="help_splash.left_topbar_help_button_text"></button>
        </div>
    </div>
</div>

<div class="help-splash-phase hidden">
    <div class="maol-text">
        <strong data-transl="help_splash.maol_text_word_1"></strong> 
        <span data-transl="help_splash.maol_text_word_2"></span>
    </div>
    <img class="help-splash-help-img" src="img/retina/help-right-topbar-LANG.png" />
    <p class="help-splash-help-text-big" data-transl="help_splash.right_topbar_help_text_header"></p>
    <p class="help-splash-help-text-small" data-transl="help_splash.right_topbar_help_text_footer"></p>
    <div class="help-splash-button-aligner">
        <div class="help-splash-proceed-button-container">
            <button class="help-splash-proceed-button" data-transl="help_splash.right_topbar_help_button_text"></button>
        </div>
    </div>
</div>


<div class="help-splash-phase hidden">
    <div class="maol-text">
        <strong data-transl="help_splash.maol_text_word_1"></strong> 
        <span data-transl="help_splash.maol_text_word_2"></span>
    </div>

    <img class="help-splash-help-img" src="img/retina/help-nav-LANG.png" />
    <p class="help-splash-help-text-big" data-transl="help_splash.nav_help_text_header"></p>
    <p class="help-splash-help-text-small" data-transl="help_splash.nav_help_text_footer"></p>

    <div class="help-splash-button-aligner">
        <div class="help-splash-proceed-button-container">
            <button class="help-splash-proceed-button" data-transl="help_splash.nav_help_button_text"></button>
        </div>
    </div>
</div>