
<div class="info-splash-content">

    <div class="maol-text">
        <strong data-transl="help_splash.maol_text_word_1"></strong> 
        <span data-transl="help_splash.maol_text_word_2"></span>
    </div>
	<p>© 2019 Matemaattisten Aineiden Opettajien Liitto MAOL ry. ja<br/>Kustannusosakeyhtiö Otava</p>

	<p>Toimitus: Sanna Niemelä ja Olli Räty<br/>Toteutus: Aste Helsinki Oy</p>

	<h1>Kopiointiehdot</h1>
	<p>Teos on suojattu tekijänoikeuslailla (404/61). Kopioston digilupa ei koske oikeudenhaltijan lisensoimia verkkoaineistoja. Tämän verkkoaineiston käyttö edellyttää oikeudenomistajalta hankittua lisenssiä. Lisätietoja luvista <a href="http://www.kopiosto.fi" target="_blank">kopiosto.fi</a></p>

	<p>ISBN 978-951-1-35656-1</p>


<p>&nbsp;</p>


<p>MAOL-taulukot ilmestyi ensimmäisen kerran painettuna 2019 Kustannusosakeyhtiö Otavan kustantamana.</p>

<p>
Toimitus: Johanna Eronen ja Sanna Niemelä <br/>
Piirrokset: Marvegraf Oy / Marja Venäläinen, Sami Suvanne ja<br/>
Olli-Matti Hallikainen<br/>
Valokuvat: SKOY (liekkivärit), Printel ja Shutterstock (perustyövälineet)<br/>
Graafinen suunnittelu ja kansi: Anna Väänänen<br/>
Taitto: Aste Kirjat Oy
</p>

	<div style="text-align: center;"><div class="info-splash-close-button-container"><button class="info-splash-close-button" data-transl="info_splash.close_button_text"></button></div></div>
</div>