
<div class="info-splash-content">

    <div class="maol-text">
        <strong data-transl="help_splash.maol_text_word_1"></strong> 
        <span data-transl="help_splash.maol_text_word_2"></span>
    </div>
	<p>© MAOL r.f. och Förlagsaktiebolaget Otava</p>

	<p>Redaktion: Sanna Niemelä och Olli Räty<br/>Tekniskt förverkligande: Aste Helsinki Oy</p>

	<p>Utbildningsstyrelsen har beviljat statsunderstöd för produktionen av den digitala versionen av detta läromedel.</p> 
	<h1>Kopieringsvillkor</h1>
	<p>Verket är skyddat av upphovsrättslagen (404/61). Kopiostos digilicens omfattar inte rättsinnehavarens licenser. För att använda detta digitala material eller delar av det krävs rättighetshavarens licens. Mer information om licenser lämnas av Kopiosto r.f. <a href="http://www.kopiosto.fi" target="_blank">www.kopiosto.fi.</a></p>

	<p>ISBN 978-951-1-35656-1</p>


<p>&nbsp;</p>


<p>Förlagsaktiebolaget Otava gav ut Maols tabeller första gången på 2019.</p>

<p>
Originalets titel: MAOL-taulukot<br/>
Svensk översättning: Niklas Palmberg<br/>
Granskning av den svenska versionen: Niklas Palmberg (matematik),<br/>
Leif Ekrem (fysik), Triin Gyllenberg (kemi)<br/>
Redaktion: Johanna Eronen och Sanna Niemelä (finska originalet),<br/>
Cilla Heinonen (svenska versionen)<br/>
Illustrationer: Marvegraf Oy /Marja Venäläinen, Sami Suvanne och<br/>
Olli-Matti Hallikainen<br/>
Fotografier: SKOY (lågors färg), Printel och Shutterstock (laborationsutrustning)<br/>
Layout och omslag: Anna Väänänen<br/>
Ombrytning: Aste Kirjat Oy<br/>
</p>

	<div style="text-align: center;"><div class="info-splash-close-button-container"><button class="info-splash-close-button" data-transl="info_splash.close_button_text"></button></div></div>
</div>